@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}
p {
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

body.before-load {
  overflow: hidden;
}
.container {
  /* iPhone 가로 스크롤 방지 */
  overflow: hidden;
}

/* 위에는 별개의 파일로 정리해야 될텐데....*/

:root {
  --global-nav-height: 0px;
  --local-nav-height: 52px;
}

.history,
.missions {
  display: none;
}

.tab-container {
  position: fixed;
  width: 100%;
  height: 9em;
  padding: 5rem 1rem 1.3rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  background-color: white;
  -webkit-box-shadow: 0 5px 20px 1px rgba(136, 138, 113, 0.2);
  box-shadow: 0 5px 20px 1px rgba(146, 146, 137, 0.2);
}
.tab-container a {
  color: #888;
  font-size: 1rem;
  padding: 0.7rem 0 0.3rem;
  /* margin: 1.3rem; */
  margin: 0 0.3rem;
  width: 10rem;
  text-align: center;
}
a.tab-active {
  color: #000;
  font-weight: bold;
  border-style: solid;
  border-bottom-width: 6px;
  border-color: rgb(70, 161, 77);
  transition: border-width 0.5s;
}

section {
  padding-top: 11rem;
  display: none;
}
section.section-active {
  display: block;
}

.contents {
  margin: 2rem auto;
  max-width: 800px;
  padding: 0 2.5rem;
}
.contents .img-caption{
  padding-top: 10px;
  display:flex;
  justify-content:center;
  font-size: 0.9rem;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

h4 {
  font-weight: bold;
  font-size: 1.3rem;
}

.yt-video {
  position: relative;
  height: 0;
  padding-bottom: 56%;
}
iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.insta-container {
  max-width: 500px;
  padding-bottom: 35rem;
  -webkit-transform: scale(0.88);
  -moz-transform: scale(0.88);
  -ms-transform: scale(0.88);
  transform: scale(0.88);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center; 
}


.slidewrap {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}
.slide-box {
  overflow: hidden;
}
.slide-list {
  white-space: nowrap;
  font-size: 0;
  position: relative;
  left: 0%;
  transition: left 0.5s;
}
.slide-list li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.slide-control button {
  background: url("../images/white-next-icon.png") center center / 50%
    no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px 30px;
  outline: none;
  z-index: 5;
}
.slide-control .left {
  left: -46px;
  transform: translateY(-50%) scaleX(-1); /* 좌우 대칭 */
}
.slide-control .right {
  right: -46px;
}
.slide-pagination {
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
}
.slide-pagination .dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 1px;
  background: #ddd;
  border: 0.5px solid white;
  border-radius: 50%;
  transition: 0.3s;
}
.slide-pagination .dot.dot-active {
  background: rgb(14, 90, 21);
}

.contents dl {
  display: grid;
  grid-template-columns: 80px 1fr;
  row-gap: 20px;
}
.contents dt {
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 0.2rem;
}

.contents dd,
.contents p {
  font-size: 1rem;
  line-height: 1.6;
}


@media (min-width: 750px) {
  .tab-container {
    height: 11rem;
    padding-top: 5.5rem;
  }
  .tab-container a {
    font-size: 1.5rem;
    margin: 0 2rem;
  }
  .insta-container {
    padding-bottom: 40rem;
    margin: 0 auto;
    -webkit-transform: scale(0.88);
    -moz-transform: scale(0.88);
    -ms-transform: scale(0.88);
    transform: scale(0.88);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    transform-origin: center center; 
  }

  .slide-control button {
    padding: 50px 35px;
  }
  .slide-control .left {
    left: -80px;
  }
  .slide-control .right {
    right: -80px;
  }

  .contents dl {
    grid-template-columns: 100px 1fr;
  }
  .contents dt {
    font-size: 1.3rem;
  }
  .contents dd, 
  .contents p {
    font-size: 1.3rem;
  }
}
