@charset 'utf-8';

html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}
body {
	overflow-x: hidden;
	color: rgb(29, 29, 31);
	letter-spacing: -0.05em;
	background: white;
}
p {
	line-height: 1.6;
}
a {
	color: rgb(29, 29, 31);
	text-decoration: none;
}

body.before-load {
	overflow: hidden;
}
.container {
	/* iPhone 가로 스크롤 방지 */
	overflow: hidden;
}

/* 위에는 별개의 파일로 정리해야 될텐데....*/


:root{
	--global-nav-height: 0px;
	--local-nav-height: 52px;
}

.history, .rules {
    display: none;
}

.tab-container {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}
.tab-container a {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1.3rem;   
}
.active-tab {
    border-style: solid;
    border-bottom-width: 6px;
    border-color: rgb(70, 161, 77);
    transition: border-width 0.5s;
}

section {
    transition: display 2s;
}
.contents {
    margin: 2rem auto;
    max-width: 800px;
    padding: 0 2.5rem;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

.history .contents{
    display: flex;
	justify-content: center;
}
dl {
    display: grid;
    grid-template-columns: 80px 1fr;
    row-gap: 20px;

    
}
dt {
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 0.2rem;
}

dd, p {
    font-size: 1rem;
    line-height: 1.6;
}

@media (min-width: 1024px) {
    .tab-container a {
        font-size: 2.5rem;
    }

    dl {
        grid-template-columns: 100px 1fr;
    }
    dt {
        font-size: 1.3rem;
    }
    dd, p {
        font-size: 1.3rem;
    }
}