@charset 'utf-8';

html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}
body {
	overflow-x: hidden;
	color: rgb(29, 29, 31);
	letter-spacing: -0.05em;
	background: white;
}
p {
	line-height: 1.6;
}
a {
	color: rgb(29, 29, 31);
	text-decoration: none;
}

body.before-load {
	overflow: hidden;
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 15;
	background: white;
	opacity: 0;
	transition: 0.5s;
}
.before-load .container {
    display: none;
}
.before-load .loading {
	opacity: 1;
}
@keyframes loading-spin {
	100% { transform: rotate(360deg); }
}
@keyframes loading-circle-ani {
	0% { stroke-dashoffset: 157; }
	75% { stroke-dashoffset: -147; }
	100% { stroke-dashoffset: -157; }
}
.loading-circle {
	width: 54px;
	height: 54px;
	animation: loading-spin 3s infinite;
}
.loading-circle circle {
	stroke: black;
	stroke-width: 4;
	/* getTotalLength()로 stroke의 길이를 얻어올 수 있음 */
	stroke-dasharray: 157;
	stroke-dashoffset: 0;
	fill: transparent;
	animation: loading-circle-ani 1s infinite;
	/* transition: 1s; */
}
.container {
	/* iPhone 가로 스크롤 방지 */
	overflow-x: hidden;
}

/* 전역변수들 (코딩웍스 님) */
:root{
	--global-nav-height: 44px;
	--local-nav-height: 52px;
}

.global-nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: var(--global-nav-height);
	padding: 0 1rem;
	background: rgb(197, 216, 224);
}

/* .global-nav a{
	color: white;
} */


.local-nav {
	position: absolute;
	top: calc(var(--global-nav-height) + 1px);
	left: 0;
	z-index: 11;
	width: 100%;
	height: var(--local-nav-height);
	padding: 0 1rem;
	border-bottom: 1px solid #ddd;

	background: rgba(255, 255, 255, 0.1);
	/* for iPhone */
	-webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);
}
.local-nav-sticky .local-nav {
	position: fixed;
	top: 0;
	
}
.global-nav-links,
.local-nav-links {
	display: flex;
	align-items: center;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.global-nav-links {
	/* justify-content: space-between; */
	justify-content: center;
}
.local-nav-links .home {
	margin-right: auto;
	font-size: 1.4rem;
	font-weight: bold;
}
.local-nav-links a {
	font-size: 0.8rem;
}
.local-nav-links a:not(.home) {
	margin-left: 2em;
}
.scroll-section {
	position: relative;
	padding: 20vh 0 5vh;
}
#scroll-section-0 {
	padding-top: 53vh;
	padding-bottom: 50vh;
}
#scroll-section-1 {
	padding-top: 0;
}

#scroll-section-0 h1 {
	position: relative;
	top: -10vh;
	z-index: 5;
	font-size: 4rem;
	text-align: center;
	color: #fff;
	opacity: 1;
}

.sticky-elem {
	/* display: none; */
	position: fixed;
	left: 0;
	width: 100%;
}

.section-0-canvas {
	/* position: absolute; */
	top: 0;
	/* top: calc(var(--global-nav-height) + var(--local-nav-height)); */
	height: 100%;
}

.section-0-canvas canvas {
	position: absolute;
	top: 50%;
	left: 50%;
}

#image-blend-canvas {
	opacity: 0;
}

#image-blend-canvas.sticky {
	position: fixed;
	/* top: 0; */
	z-index: -10;
}

.main-message {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 41vh;
	margin: 5px 0;
	height: 3em;
	font-size: 1.8rem;
	color: white;
	/* opacity: 0; */
}
.main-message p {
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
}


.chapel-img, .bc-img, .prayer-img {
	display: block;
	margin: 0 auto;
	width: 650px;
}
.bc-img, .prayer-img {
	padding-bottom: 60px;
}
#scroll-section-1 h3, 
#scroll-section-2 h3,
#scroll-section-3 h3,
#scroll-section-4 h3 {
	font-size: 1.3rem;
	text-align: center;
	transform: translateY(-1.5vh);
}
#scroll-section-1 h1, 
#scroll-section-2 h1,
#scroll-section-3 h1 {
	font-size: 2.8rem;
	text-align: center;
	/* padding-top: 2vh; */
	padding-bottom: 5vh;
}
.desc-container{
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.description {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 3.5rem;
	font-size: 1rem;
	color: #888;
}
.description strong {
	/* float: left; */
	/* margin-right: 0.2em; */
	font-size: 1.4rem;
	color: rgb(29, 29, 31);
}
.right-pointing-triangle::after {
	content: "\25B6 \FE0E";
  }
.chapel-btn-container{
	min-width: 250px;
	padding: 1rem 3rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.chapel-btn{
	/* border: none; default.css에 이미 있음 */
	padding: 14px 18px;
	margin: 10px 9px;
	border-radius: 10px;
	background-color: rgb(228, 228, 228);
	color: rgb(230, 31, 58);
	font-size: 0.9rem;
	font-weight: bold;
}
.chapel-notice{
	max-width: 600px;
	margin: 0 auto;
	padding: 0 3.5rem;
	font-size: 0.8rem;
	color: #888;
}
#scroll-section-4 p {
	text-align: center;
	margin: 0 auto;
	font-size: 0.9rem;
}
#scroll-section-4 .desc-container{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}
.sns-iphone-img{
	margin: 4rem 0 4rem 1rem;
	height: 250px;
}
.sns-container {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
.sns-container .logo{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 1rem 0;
	height: 30px;
}
.sns-links{
	margin: 0 1em;
	padding-bottom: 1em;
}
.sns-links a{
	color: rgb(41, 135, 243);
}

footer {
	height: 14rem;
	color: lightgrey;
	background: rgb(75, 75, 75);
	padding: 1rem 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	z-index: 20;
}
footer > * {
	margin: 0 1rem;
}
footer .title {
	color: white;
	padding-bottom: 5px;
}
footer .contact {
	min-width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer .contact .title {
	margin: 0 1rem;
}
footer .contact img {
	width: 30px;
	margin: 5px;
}
footer .copyright{
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer .copyright a{
	color: lightgrey;
	margin-top: 5px;
}


@media (min-width: 750px) {
	.local-nav-links a {
		font-size: 1rem;
	}

	#scroll-section-0 h1 {
		font-size: 7.5vw;
	}
	.main-message {
		font-size: 3vw;
	}
	#scroll-section-1 h1,
	#scroll-section-2 h1,
	#scroll-section-3 h1 {
		font-size: 5vw;
	}
	#scroll-section-1 h3,
	#scroll-section-2 h3,
	#scroll-section-3 h3,
	#scroll-section-4 h3 {
		font-size: 2.5vw;
	}
	.description {
		padding: 0 1rem 0 0;
		font-size: 1.5rem;
	}
	.description strong {
		font-size: 1.7rem;
	}
	.desc-container{
		flex-wrap: nowrap;
	}
	.chapel-btn-container{
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 2rem;
		max-width:250px; /*크롬 외 브라우저들 버그 보완..*/
	}
	.chapel-btn{
		padding: 18px 16px;
		font-size: 1.2rem;
	}
	.chapel-notice{
		max-width: 800px;
		padding: 20px 0 0;
		font-size: 0.9em;
	}

	#scroll-section-4 p {
		font-size: 1.2rem;
	}

	.sns-iphone-img {
		margin: 50px;
		height: 50vh;
	}
	.sns-container .logo{
		padding: 30px 0;
		height: 50px;
	}

	footer {
		height: 9em;
	}
}